<script lang="ts">
import Bouton from './../components/concert/Bouton.vue'
import { useTaskStore } from "./../stores/TaskStore"
export default {
    setup(){
        const taskStore = useTaskStore()
        return { taskStore }
    },components: {
        Bouton
    }
}
</script>
<template>

    <div class="confirm">
        <img src="./../../public/image/1.jpg" alt="concert" id="fixed" />
        <div class="tbl">
            <h1>Vérifier vos <br> informations</h1>
            <table>
                <tr>
                    <td>Nom</td>
                    <td>:</td>
                    <td>{{ taskStore.nom }}</td>
                </tr>
                <tr>
                    <td>Prénom</td>
                    <td>:</td>
                    <td>{{ taskStore.prenom }}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>:</td>
                    <td>{{ taskStore.mail }}</td>
                </tr>
                <tr>
                    <td>Date de réservation</td>
                    <td>:</td>
                    <td>20/10/2022</td>
                </tr>
            </table>
            <p>Si toutes vos informations sont corrects, <br> merci de cliquer sur le bouton de <br> réservation</p>
            <div class="btn">
                <router-link to="/thanks">
                    <Bouton nom="Thanks"></Bouton>
            </router-link>
            </div>
        </div>
    </div>
    
</template>

<style scoped>
    button{
        width: 100px;
        height: 40px;
    }

    .confirm{
        display: flex;
        justify-content: space-between;
        margin: 30px;
    }

    #fixed{
        width: 700px;
        margin: 0 66px;
    }

    .tbl{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 20px;
        width: 496px;
        height: 466px;
    }

    h1, p{
        text-align: center;
    }

    .btn{
        display: flex;
        justify-content: center;
    }

    @media (max-width: 678px) {
    .confirm{
        flex-direction: column;
        margin: 20px 0;
    }

    #fixed{
        width: 350px;
        margin: 0 12px;
    }

    .tbl{
        width: 375px;
    }

    h1, p{
        text-align: center;
    }

    .btn{
        display: flex;
        justify-content: center;
    }
    
}







</style>