<script lang="ts">
import Description from './../components/description/Description.vue'
import axios from 'axios'
import Bouton from "./../components/concert/Bouton.vue"
export default {
  components: {
    Description,
    Bouton
  },
  data() {
    return {
      datas: {},
      event:{},
      error: []
    }
  },
  async created() {
    try {
      const idee = this.$route.params.id
      const response = await axios.get("http://localhost:1337/api/events?populate=artists,artists.picture&filters[id]=" + idee)
      this.datas = response.data.data[0].attributes.artists.data
      this.event = response.data.data[0].attributes.title
       console.log(response.data.data[0].attributes.title)
    } catch (e) {
      this.errors.push(e)
    }
  }
}
</script>

<template>
  <div class="detail">
      <img src="./../../public/image/1.jpg" alt="concert" id="fixed" />
    <div>
      <h1>{{ event }}</h1>
      <div class="artist">
        <div v-for="data of datas" class="div">
          <Description :nom="data.attributes.name"
            :image='"http://localhost:1337" + data.attributes.picture.data[0].attributes.formats.thumbnail.url' />
        </div>
        <!-- <router-link to="/formulaire" >
        <Bouton nom="Réservation" type="button" />
      </router-link> -->
      </div>
      <div class="btn">
        <router-link to="/formulaire" >
          <Bouton nom="Réservation" type="" />
        </router-link>
    </div>
    </div>
  </div>
</template>

<style scoped>
.artist {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}

.detail {
  display: flex;
  justify-content: space-between;
  margin: 30px;
}

#fixed{
  width: 700px;
  margin: 0 66px;
}

.btn{
  display: flex;
  justify-content: center;
}


@media (max-width: 678px) {
  .detail {
  flex-direction: column;
  margin: 20px 0;
  }

  #fixed{
        width: 350px;
        margin: 0 12px;
    }

  .artist, h1{
  text-align: center;
  justify-content: space-around;
  }


}
</style>