<script>
import Bouton from '../components/concert/Bouton.vue'
import { useTaskStore } from '../stores/TaskStore';
import { ref } from 'vue';
export default {
    setup() {
        const taskStore = useTaskStore()
        const nom = ref('')
        const prenom = ref('')
        const mail = ref('')
        const handleSubmit = () => {
            taskStore.addNom(
                 nom.value
           )
            taskStore.addPrenom(
                 prenom.value,

            )
            taskStore.addMail(
                 mail.value
            )
        }
        return { handleSubmit, nom, prenom, mail }
    },

    components: {
        Bouton
    }
}


</script>

<template>
    <div class="reg">
        <img src="./../../public/image/1.jpg" alt="concert" id="fixed" />
        <div class="formu">
            <h1>Registration Form</h1>
            <form @submit.prevent="handleSubmit">
                <label>*Nom</label>
                <input type="text" placeholder="Input text" v-model="nom">
                <label>*Prenom</label>
                <input type="text" placeholder="Input text" v-model="prenom">
                <label>*Adresse mail</label>
                <input type="text" placeholder="Input text" v-model="mail">
                
                <Bouton nom="Submit" type=""></Bouton> 
                    <router-link to="/confirmation">done </router-link>
            </form>
        </div>
    </div>
</template>

<style scoped>
    button {
        width: 100px;
    }

    form {
        display: flex;
        flex-direction: column;
    }

    input {
        margin-bottom: 20px;
        width: 300px;
        height: 40px;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        background: #fff;
    }

    input:focus {
        width: 310px;
        height: 45px;
        background: #f8f8ff;
        margin: 10px 10px 10px 0;
    }

    #fixed{
        width: 700px;
        margin: 0 66px;
    }

    .reg{
        display: flex;
        justify-content: space-between;
        margin: 30px;
    }

    .formu{
        width: 400px;
    }

    @media (max-width: 678px) {
    #fixed{
        width: 350px;
        margin: 0 12px;
    }

    .reg{
        flex-direction: column;
        margin: 0;
    }

    form{
        margin: 20px;
    }

    .formu{

    }

    h1{
        margin-left: 10px;
    }
    
}
</style>