<script>
import axios from 'axios'
export default {
  data() {
    return {
      datas: {},
      error: []
    }
  },
  async created() {
    try {
      const response = await axios.get("http://localhost:1337/api/events?populate=*")
      this.datas = response.data.data
      console.log(response.data.data[0].attributes)
    } catch (e) {
      this.errors.push(e)
    }
  }
}


</script>

<template>

<div class="event">
    <div class="event1" v-for="data in datas">
        <router-link :to='{ name : "Detail", params: { id: data.id }}'  class="lien">
            <img src="../../public/image/1.jpg" alt="1.jpg">
            <h1>{{ data.attributes.title }}.</h1>
        </router-link>
    </div>

</div>

</template>

<style scoped>

.event{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}
img{
    width: 70%;
}
.lien {
    text-decoration: none;
    color: #303030;
}

@media (max-width: 678px) {
  .event{
    flex-direction: column;
  }

  img{
    width: 90%;
  }
}
</style>



