<script >
    import Confirmation from './Confirmation.vue'
    import Bouton from './../components/concert/Bouton.vue'
    import { useTaskStore } from "./../stores/TaskStore"
    
export default {
    setup(){
        const taskStore = useTaskStore()
        return { taskStore }
    },components: {
        Bouton
    }
}
    
</script>
<template>
    <div class="valid">
        <img src="./../../public/image/1.jpg" alt="concert" id="fixed" />
        <div class="confirm">
            <div class="ticks">
                <img src="../../../public/image/3.png" alt="valider" id="tick">
            </div>
            <div class="tbl">
                <table>
                    <tr>
                        <td>Nom</td>
                        <td>:</td>
                        <td>{{ taskStore.nom }}</td>
                    </tr>
                    <tr>
                        <td>Prénom</td>
                        <td>:</td>
                        <td>{{ taskStore.prenom }}</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>:</td>
                        <td>{{ taskStore.mail }}</td>
                    </tr>
                    <tr>
                        <td>Date de réservation</td>
                        <td>:</td>
                        <td>20/10/2022</td>
                    </tr>
                </table>
                <h3>Merci !!!</h3>
                <div class="btn">
                    <router-link to="/thanks">
                        <Bouton nom="Thanks"></Bouton>
                    </router-link>
                </div>
            </div>
        </div>
    </div>
        <!-- <p><b>Merci !!!</b></p>
        <router-link to="/">
            <Bouton nom="thanks"></Bouton>
        </router-link>
    </div> -->
</template>
<style scoped>

    .valid{
        display: flex;
        justify-content: space-between;
        margin: 30px;
    }
    #tick, p{
        text-align: center;
        margin: 20px 0;
    }

    #tick{
        height: 90px;
    }

    #fixed{
        width: 700px;
        margin: 0 66px;
    }

    .ticks, .btn{
        display: flex;
        justify-content: center;
    }

    h3{
        text-align: center;
    }

    .confirm{
        width: 400px;
    }

    @media (max-width: 678px){
    #fixed{
        width: 350px;
        margin: 0 12px;
    }

    .valid{
        flex-direction: column;
        margin: 0;
    }


    }

</style>