<script>
export default{

  props: {
    nom: String,
    type: String,
    fn: ()=>{}
  }    
}




</script>


<template>

    <button v-on:click="fn" type="{{ type }}">{{ nom }}</button>

</template>



<style scoped>

button{
    padding: 10px;
    background-color: #E75771;
    border: #E75771 solid 3px;
    border-radius: 10px;
    color: #fff;
}

button:hover{
    background-color: #e1163b;
    border: #e1163b solid 3px;
}
</style>