<script setup>

var counter = 1;
    setInterval(function(){
        document.getElementById('radio' + counter).checked = true;
        counter++;
        if(counter > 2){
            counter = 1;
        }
    }, 5000);

</script>

<template>
 
    <div class="slider">
        <div class="slides">
            <input type="radio" name="radio-btn" id="radio1">
            <input type="radio" name="radio-btn" id="radio2">
            <div class="slide first">
                <img src="./../../../public/image/1.jpg" alt="Image">
            </div>
            <div class="slide">
                <img src="./../../../public/image/2.jpg" alt="Image">
            </div>
            <div class="navigation-auto">
                <div class="auto-btn1"></div>
                <div class="auto-btn2"></div>
            </div>
        </div>
        <div class="navigation-manual">
            <label for="radio1" class="manual-btn"></label>
            <label for="radio2" class="manual-btn"></label>
        </div>
    </div>



</template>

<style scoped>
    body{
        margin: 0px;
        padding: 0px;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #6BCAB3;
    }

    .slider{
        height: 98vh;
        overflow: hidden;
    }

    .slides{
        width: 500%;
        height: 500px;
        display: flex;
    }

    .slides input{
        display: none;
    }


    .slide{
        margin: 0px;
        width: 20%;
        transition: 2s;
    }

    .slide img{
        width: 99vw;
        height: 99vh;
    }

    .navigation-manual{
        position: absolute;
        width: 800px;
        display: none;
        justify-content: center;
    }

    .manual-btn{
        border: 2px solid #6BCAB3;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: 1s;
    }

    .manual-btn:not(last-child){
        margin-right: 40px;
    }

    .manual-btn:hover{
        background: #6BCAB3;
    }

    #radio1:checked ~ .first{
        margin-left: 0;
    }

    #radio2:checked ~ .first{
        margin-left: -20%;
    }

    .navigation-auto{
        position: absolute;
        display: none;
        width: 800px;
        justify-content: center;
        margin-top: 460px;
    }

    .navigation-auto div{
        border: 2px solid #6BCAB3;
        padding: 5px;
        border-radius: 10px;
        transition: 1s;
    }

    .navigation-auto div:not(last-child){
        margin-right: 40px;
    }

    #radio1:checked ~ .navigation-auto .auto-btn1{
        background: #6BCAB3;
    }

    #radio2:checked ~ .navigation-auto .auto-btn2{
        background: #6BCAB3;
    }

    @media (max-width: 678px) {
        .slide img{
        width: 99vw;
        height: auto;
    }

    .slides{
        width: 99vw;
        height: auto;
    }

    .slider{
        width: 99vw;
        height: auto;
    }



}

</style>