<script setup>
    import Details from './Details.vue'
    import Button from './Bouton.vue';
</script>
<template>
    <div class="confirm">
        <h1>Vérifier vos <br> informations</h1>
        <Details></Details>
        <p>Si toutes vos informations sont corrects, <br> merci de cliquer sur le bouton de <br> réservation</p>
        <Button></Button>
    </div>
</template>
<style scoped>

    .confirm{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h1, p{
        text-align: center;
    }

</style>