<script>
import Form from './Form.vue'
export default {
    name:"Details",
    props:{
        
    }
    }

</script>

<template>
    <table>
        <tr>
            <td>Nom</td>
            <td>:</td>
            <td>Polochon</td>
        </tr>
        <tr>
            <td>Prénom</td>
            <td>:</td>
            <td>Jean</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>:</td>
            <td>abc@xyz.com</td>
        </tr>
        <tr>
            <td>Date de réservation</td>
            <td>:</td>
            <td>20/10/2022</td>
        </tr>
    </table>


</template>

<style scoped>







</style>