<script setup>



</script>

<template>

    <footer>
        <p>Mentions légales</p>
        <p>Tout droit du site réservé a<br>Narayan/Anthony </p>
    </footer>

 
</template>

<style scoped>

    footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #006265;
        color: #fff;
        text-align: center;
        height: 150px;
        margin: 0;
    }

</style>