
<template>

    <form action="">
        <label>*Nom</label>
        <input type="text" placeholder="Input text">
        <label>*Prenom</label>
        <input type="text" placeholder="Input text">
        <label>*Adresse mail</label>
        <input type="text" placeholder="Input text">
    </form>

</template>

<style scoped>
    form{
        display: flex;
        flex-direction: column;
    }

    input{
        margin-bottom: 20px;
        width: 300px;
        height: 40px;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        background: #fff;
    }

    input::placeholder {
        font-weight: bold;
        opacity: 0.5;
        text-align: center;
    }

    input:focus {
        width: 310px;
        height: 45px;
        background: #f8f8ff;
        margin: 10px 10px 10px 0;
    }
</style>