<script setup>
    import Details from './Details.vue'
    import Bouton from './Bouton.vue';


    
</script>
<template>
    <div class="valid">
        <img src="../../../public/image/3.png" alt="valider">
        <Details></Details>
        <p><b>Merci !!!</b></p>
        <Bouton></Bouton>
    </div>
</template>
<style scoped>

    .valid{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    img, p{
        text-align: center;
        margin: 20px 0;
    }

    img{
        height: 90px;
    }

</style>