<script lang="ts">
import Description from './Description.vue'
import axios from 'axios'
export default {
  components: {
    Description
  },
  data() {
    return {
      datas: {},
      error: []
    }
  },
  async created() {
    try {
      const response = await axios.get("http://localhost:1337/api/artists?populate=*")
      this.datas = response.data.data
      console.log(response.data.data)
    } catch (e) {
      this.errors.push(e)
    }
  }
}
</script>

<template>
  <div class="artist">
    <div v-for="data of datas" class="div">
      <Description :nom="data.attributes.name"
        :image='"http://localhost:1337" + data.attributes.picture.data[0].attributes.formats.thumbnail.url' />
    </div>
  </div>
</template>

<style scoped>
.artist {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  margin: 20px;
}
</style>