<script lang="ts">
export default {
  props: {
    nom: String,
    image: String
  }
}


</script>
<template>
    <div >
        <div>     
            <img :src="image" alt="">
            <p>{{nom}}</p>
        </div>
    </div>
</template>

<style scoped>
    div {
        width: 100px;
        margin: 10px;
    }
    img {
        height: 80px;
        width: 80px;
        border-radius: 100%;
    }
    p {
        font-size: 13px;
        text-overflow: clip;
    }
</style>