<script>
import DescriptionArtist from "./Description/DescriptionArtist.vue"
let url = "http://localhost:1337/api/artists";
 export let datas
async function  created() {
  const response = await fetch("http://localhost:1337/api/artists?populate=*");
  const data = await response.json();
  console.log(data.data[0])
  datas = data
  return datas
}
created()
</script>

<template>
  <DescriptionArtist nom="erdsezdsxc" img="ezdscgrerzdsc"/>
</template>


