<script setup lang="ts">
import Carousel from './components/concert/Carousel.vue';
import Footer from './components/concert/Footer.vue'
</script>
<template>
<Carousel></Carousel>
<router-link to="/confirmation">conf</router-link>
<routerView></routerView>

<Footer></Footer>



</template>

<style scoped>

</style>
